body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: ease .5s;
}
button#clear-button {
    background-color: #dc3545;
    transition: ease .5s;
}
button:hover {
    opacity: 0.9;
    transition: ease .5s;
}
#result {
    margin-top: 20px;
}
